/* Global */

h2 {
  margin-bottom: 10px;
  font-size: 25px;
  padding :15px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

a {
  cursor: pointer;
}

.theme-back-1 {
  background: #2c3e50;
}

.black-back {
  background: #000;
}

/* Hero */
#section4 h4 {
  font-size: 40px;
}

#section4 h6 {
  font-size: 25px;
}

.hero-t {
  text-align: center;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
}

#section4{
 padding: 120px 50px 50px 50px;
 background: url('/images/hero.png') no-repeat center fixed;
 background-size: cover;
}


.modal-header{
  background-color: #16a085;
  color: white !important;
  text-align: center;
  font-size: 30px;
  padding:35px 50px;
}
.modal-header .close{
  opacity: 1;
}

.modal-title {
  margin-left: 60px;
}

.tabs-circle-top .etabs {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.tabs-circle-top .etabs:before {
  content: '';
  display: block;
  border-bottom: 1px solid #CED7E0;
  margin: 65px 0 -65px;
}
.tabs-circle-top .tab {
  display: inline-block;
  height: 160px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  top: 0;
  margin: 0 15px;
}
.tabs-circle-top .tab a{
  display: table-cell;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  max-width: 130px;
  background: #FFF;
  color: #2c3e50;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid #CED7E0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.tabs-circle-top .tab a div {
  font-size: 40px;
  line-height: 100%;
  font-weight: 200;
  margin: -10px 0 5px;
}
.tabs-circle-top .tab a:hover {
  /*border: 4px solid #1ABB9C;*/
  background-color: #2c3e50;
  border-color: #16a085 !important;
  color: white;
  text-decoration: none;
}

.tabs-circle-top #goclass{
  background-color: #2c3e50;
  color: white !important;
  font-weight: 700;
  transition: all 0.4s ease-out;
}

#goclass:hover {
  background-color: #FFF;
}

#goclass:hover #submitbutton {
  color: #2c3e50;
}

.modal.fade {
  -webkit-transition: opacity 200ms ease-out;
     -o-transition: opacity 200ms ease-out;
      transition: opacity 200ms ease-out;
}
.modal.fade .modal-dialog {
  -webkit-transition: none;
     -o-transition: none;
      transition: none;
   -webkit-transform: translate(0);
     -ms-transform: translate(0);
      -o-transform: translate(0);
       transform: translate(0);
}

.modal{
    margin-top: 130px;
  text-align: center;
}
.modal-dialog{

  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
input{
  text-align: center;
}
#submitbutton{
  background-color: transparent;
  border:none;
  font-family: 'Montserrat', sans-serif;
  outline:none;
  font-size: 25px;
}

#submitbut {
  padding: 5px 30px;
  background: #2c3e50;
  color: #FFF;
  font-size: 14px;
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
}

#submitbut:hover {
  opacity: 0.8;
}

#streamselection{
  display:none;
}
#sectionhr{
  background-color: white;
  height:100px;
}


/* Navbar */
.navbar{
  margin-bottom: 20px;
  height: 70px;
}
.navbar-custom {
  background-color:#2c3e50;
  color: white;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-brand img {
  max-height: 150%;
  min-height: 45px;
}

.navbar-custom .navbar-nav li a{color:#fff}
.navbar-custom .navbar-nav li a:hover{background-color:#18BC9C;outline:0}


.glyphicon {
  height: 40px;
  padding-top: 8px;
  padding-right: 5px;
}

/* Subjects - Section1 */

.subject-block {
  margin-bottom: 5px;
}

.subject-txt {
  border-radius: 0 0 6px 6px;
  text-align: center;
  margin-bottom: -4px;
  padding: 10px;
  width: 80%;
  -webkit-transition: opacity 0.5s;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
}

.subject-link:hover .subject-txt {
  opacity: 1;
}

.subject-img {
  width: 80%;
}

.w3-btn-floating:hover {
  text-decoration: none;
}

/* Tutors - Section2 */

#tutorlinks{
  position: relative;
  height:700px;
  background-color: #7f8c8d;
  margin-top: 100px;
}
#tutorlinks img{
  height: 250px;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#tutorlinks img#top:hover{
  opacity:0.1;
}
h2{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
h4{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
.scroller{
  height:1000px;
overflow-y: auto;
height: 1000px;
}
#days{
  padding-left: 20px;
}
/* About */

.about {
  background: url('/images/about.jpg') center no-repeat fixed;
  background-size: cover;
  color: #FFF;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0;
  opacity: 0.9;
}

.about h3 {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.about p {
  max-width: 890px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 10px;
}

/* Footer */
.group {
  max-width: 900px;
  margin: 0 auto;
}

footer {
  background: #000;
  padding: 15px 10px;
  color: #FFF;
}

.group .fb, .mail {
  font-size: 30px;
  color: #FFF;
  -webkit-transition: 0.6s color, 0.6s opacity;

}

.group .fb:hover {
  color: #3b5998;
  opacity: 0.8;
}

.group .mail:hover {
  color: #11accd;
}

/* -------- */
/* Page 2 */

.top-clear {
  height: 80px;
  width: 100%;
}

.view-img {
  opacity: 0.7;
}

.view-header {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.view-href:hover .view-header {
  color: #2c3e50;
}

.view-href:hover .view-go {
  margin-right: -10px;
}

.view-href:hover {
  color: inherit;
}

.view-item {
  border-bottom: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  margin: 25px 0;
}

.view-score {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
}

.view-href {
  text-decoration: none;
}

.view-all, .view-ind {
  max-width: 900px;
  padding: 0 0;
  margin: 10px auto;
}

.view-all .row {
  margin: 0;
}

.view-row {
  background: #bdc3c7;
  padding-top: 5px;
  margin-top: 10px !important;
}

.label, .badge {
  margin: 0 5px;
}

.view-go {
  float: right;
  font-size: 20px;
  transition: all 0.1s ease-in;
}

/*Adding scroller to dropdowns*/
.form-group .my-control {
  max-height: 60px;
  overflow: auto;
  background-color: #FFF;
  color: #18BC9C;
}

.form-group .my-control:hover{
  background-color: #FFF;
  color: #2c3e50;
}

/* View Indivisual */
